# === Gradle ===
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# === Android Studio ===
.idea/
*.iml
local.properties

# === APK & AAR & SO ===
*.apk
*.aar
*.so
*.dex
*.jar

# === Native libs & Models ===
**/libs/
**/jniLibs/
**/native_libs/
**/merged_native_libs/
**/stripped_native_libs/
**/library_jni/
**/library_and_local_jars_jni/
**/copy*JniLibs*/

# === ONNX Models ===
*.onnx

# === Zip or Archives ===
*.zip
*.7z
*.tar.gz

# === Execution / Cache ===
*.log
captures/
.externalNativeBuild/
**/intermediates/
**/outputs/
**/tmp/
**/obj/
**/.cxx/

# === OpenCV Local Folders ===
OpenCV/
OpenCV.zip
OcrLibrary/OpenCV/


